* {
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: 10px;
}

table, td, th {
    text-align: center;
    border: 2px solid black;
}

table {
    width: 100%;
}

td, th {
    padding: 5px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-block: 10px;
}

form {
    display: none;
}

#read {
    width: 21px;
    height: 21px;
}

label {
    width: 100px;
}

input {
    padding: 2px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 6px;
    color: white;
    background-color: dodgerblue;
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.delete-button {
    width: 100%;
    margin: 0;
    background-color: orangered;
}